    <mets:agent TYPE="OTHER" OTHERTYPE="SOFTWARE" ROLE="OTHER" OTHERROLE="[ocr4all-other_role]">
      <mets:name>[ocr4all-software_name]</mets:name>
      <mets:note xmlns:ocrd="https://ocr-d.de" ocrd:option="input-file-grp">[ocr4all-input_file_group]</mets:note>
      <mets:note xmlns:ocrd="https://ocr-d.de" ocrd:option="output-file-grp">[ocr4all-output_file_group]</mets:note>
      <mets:note xmlns:ocrd="https://ocr-d.de" ocrd:option="parameter">[ocr4all-parameter]</mets:note>
      <mets:note xmlns:ocrd="https://ocr-d.de" ocrd:option="page-id"/>
    </mets:agent>
